data/processed/violations.parquet filter=lfs diff=lfs merge=lfs -text
models/astram_classifier.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
models/lp_detector.pt filter=lfs diff=lfs merge=lfs -text
